body {
    height: 100vh;
    padding-bottom: 0px;
    background-image: url(./Images/UAndrew_Logo.png);
    /*background-size: contain;*/
    background-size: 55%;
    background-repeat: no-repeat;
    background-position: center;
   
}

/** {
    border: 2px solid red;
}*/

.body-content{
    height: 95%
}

footer{
    margin-left: auto;
    text-align: center;
}

.jumbotron{
    font-family: Helvetica, sans-serif;
    text-align:center;
    background: none;

}

.navbar-nav {
    float: right;
}

.table {
    text-align: center;
    max-width: 70%;
    margin: 40px auto;
    background: rgba(255, 255, 255, 0.40);
   
}

table{
    margin-top: 20px;
}

.tbody {
    max-width: 50%;

}
th{
    text-align: center
}

.about-table {
    text-align: center;
    max-width: 50%;
    margin: 40px auto;
    background: rgba(255, 255, 255, 0.40);
}

.opacity-box {
    background: rgba(255, 255, 255, 0.40);
    min-height: 25%;
}

.form {
    margin-left: 25%;
    
}