@{
    ViewBag.Title = "Home Page";
}
@Styles.Render("~/Content/Main1.css")

<div class="jumbotron">
    <h1>Student and Faculty Manager</h1>

</div>

<div class="row text-center opacity-box">
    <div class="col-md-12">
        <h2>Getting started</h2>
        <p>
            Visit the Repo Here
        </p>
        <p><a class="btn btn-default" href="https://github.com/ALayendecker/AndrewUniversity">Github &raquo;</a></p>
    </div>

</div>