@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Andrew University </h1>
    <p class="lead">A Student and Faculty Manager</p>
    
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Getting started</h2>
        <p>
          Placeholder  
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    
</div>